<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
</head>
<body>
  <h1><%= category_name %>:</h1>
  <ul>
    <% items.forEach((item) => { %>
      <li>
        Item: <%= item.item_name %>
        Qty: <%= item.item_qty %>
        <a href="/item/<%= item.id %>"><button>Edit Quantity</button></a>
        <a><button>Delete</button></a>
      </li>
    <% }); %>
  </ul>
  <a href="/">Home</a>
</body>
</html>