<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new category</title>
</head>
<body>
  <h1>Create new category: </h1>
  <%- include("partials/errors.ejs") %>
  <form action="/category/new" method="POST">
    <label for="category_name" >Category name: </label>
    <input name="category_name" id="category_name">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>